page-intro {
    .color-slide {
        background-image: linear-gradient(to top, #FF4500,rgba(255, 140, 0, 0.999));
         
    }
    .intro1 {
        color:white;
        
    }
    .intro2 {
        margin-top: 100px;
    }
    .mapa {
        position: fixed;
        margin-top: 150px;
        
        
    }
    .marcador {
       margin-bottom: 0px; 
    }
}
